* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "sans-serif";
}

.auth {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #69BAA0, #69BAA0);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1.2s 0.9s ease-in-out;
}

.signup-form,
.signin-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  transition: 0.2s 1s ease-in-out;
}

.signin-form {
  z-index: 2;
}

.signup-form {
  z-index: 1;
  opacity: 0;
}

.title {
  font-size: 2.9rem;
  font-weight: bolder;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
}

.input-field input {
  font-family: tt_souses, serif;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 800;
  font-size: 1.3rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 600;
}

.btn {
  font-family: tt_souses, serif;
  font-size: 1.2rem;
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #69BAA0;
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: #9EC659;
  color: #fff;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: 1.4s 0.6s ease-in-out;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2.8rem;
  text-align: left;
}

.panel p {
  font-size: 1.6rem;
  padding: 0.7rem 0;
  text-align: left;
  font-weight: 500;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 150px;
  height: 49px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn.transparent:focus {
  visibility: hidden;
}

.logo {
    width: 65%;
    transition: 1.8s 0.6s ease-in-out;
  }

.image {
  width: 100%;
  transition: 1.8s 0.6s ease-in-out;
}

.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}

.loading-creating {
  position: relative;
  align-items: center;
  top: 300px;
  transform: translateY(400px);
  transition: 1s 0.5s ease-in-out;
  opacity: 0;
}

.loading-creating h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 3rem;
  text-align: center;
}

.loading-creating p {
  font-size: 1.6rem;
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 500;
}

/* ANIMAÇÃO PARA O LOGAR */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode .signin-form {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode .signup-form {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 65%;
    transform: translate(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signin-signup {
    width: 100%;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.6s ease-in-out;
  }

  .panel h3 {
    font-size: 1.3rem;
  }

  .panel p {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .left-panel {
    grid-row: 1/2;
  }

  .right-panel {
    grid-row: 3/4;
  }

  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .container.sign-up-mode .signin-signup {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (max-width: 570px) {
    .signin-form,
    .signup-form {
      padding: 0 1.5rem;
    }

    .image {
      display: none;
    }

    .panel .content {
      padding: 0.5rem 1rem;
    }

    .container .signin-signup {
      top: 75%;
    }

    .container::before {
      bottom: 72%;
      left: 50%;
    }

    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
}

/* ANIMAÇÃO PARA CARREGAMENTO */

.container.loading-mode:before {
  transform: translate(55%, -30%);
  right: 52%;
}

.container.loading-mode .left-panel .image,
.container.loading-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.loading-mode .loading-creating {
  transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 870px) {
  .container .loading-creating {
    transform: translateX(-700px);
  }

  .container.loading-mode .loading-creating {
    transform: translateX(35px);
    opacity: 1;
  }

  .container.loading-mode:before {
    transform: translate(-50%, 40%);
    bottom: 32%;
    right: initial;
  }

  .container.loading-mode .left-panel .image,
  .container.loading-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.loading-mode .signin-signup {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (max-width: 570px) {
    .container.loading-mode .loading-creating {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

/* ANIMAÇÃO PARA O REGISTRAR */

.container.creating-mode:before {
  transform: translate(55%, -30%);
  right: 52%;
}

.container.creating-mode .right-panel .image,
.container.creating-mode .right-panel .content {
  transform: translateX(800px);
}

.container.creating-mode .left-panel .image,
.container.creating-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.creating-mode .loading-creating {
  transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 870px) {
  .container.creating-mode .loading-creating {
    transform: translateX(35px);
    opacity: 1;
  }

  .container.creating-mode:before {
    transform: translate(-50%, 40%);
    bottom: 38%;
    right: initial;
  }

  .container.creating-mode .right-panel .image,
  .container.creating-mode .right-panel .content {
    transform: translateY(300px);
  }

  .container.creating-mode .left-panel .image,
  .container.creating-mode .left-panel .content {
    transform: translateY(-300px);
  }

  @media (max-width: 570px) {
    .container.creating-mode .loading-creating {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
